doctype
html
  head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/prism/1.3.0/themes/prism-okaidia.css")
    link(rel="stylesheet" href="/main.css")
  body
    header
      h1
        a(href="/") All Software Sucks
    main
      block main
    script(src="https://cdn.jsdelivr.net/prism/1.3.0/prism.js")
    script(src="https://cdn.jsdelivr.net/prism/1.3.0/components/prism-javascript.min.js")
